td {
    padding: 5px 15px;
}
button {
    font-size: 16px;
    padding: 5px 15px;
    text-transform: capitalize;
}
.user-card {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-top: 1px solid rgba(0,0,0,.2);
    padding: 5px 0;
}
.user-data {
    display: flex;
    margin: 50px auto;
    max-width: 600px;
}
.key {
    font-weight: 600;
}
.actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 5px;
}

.user-form, .color-picker, .order-by, .filter {
    margin: 50px auto;
    max-width: 600px;
}

.user-form > *, .color-picker > *, .order-by > *, .filter > * {
    margin: 5px;
}
